/*====>>  Stylesheet Guide START  <<====*/
        

        /*<<=========================================>>

        1. IMPORT Plugins and other CSS files
        2. DEFAULT Stylesheets
        3. BASIC classes main
            3.1) TOUCH hacks
            3.2) POSITIONS blocks (float:)
            3.3) POSITIONS text (text-align:)
            3.4) VERTICALLY align boxs (vertical-align:)
            3.5) INDENTS Zero !IMPORTANT
            3.6) POSITIONS (position:)
            3.7) ZEROING float
            3.8) DISPLAYS (dispay:)
            3.9) LINKS And BUTTONS
            3.10) HOVERS TRANSITION
            3.11) TITLES
            3.12) BACKGROUNDS
            3.13) COLORS
            3.14) GOOGLE FONTS
            3.15) INSTALL FONTS
            3.16) VISIBILITY
            3.17) TEXTAFIELD (placeholder animation)
        4. HEADER
        5. CONTENT
        6. FOOTER 
        
        <<=========================================>>*/
        

/*====>>  Stylesheet Guide END    <<====*/



/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  IMPORT Plugins and other CSS files START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/


        @import "../css/reset.css";
        @import "../css/indent.min.css";
        @import "../css/plugins.css";
        @import "../css/animate.min.css";
        @import "../plugins/flexslider/flexslider.css";
        @import "../font-awesome-4.5.0/css/font-awesome.css";
        @import "../plugins/owl-carousel/owl.carousel.css";
        @import "../plugins/formstyler/formstyler.css";
        @import "../plugins/superfish/superfish.css";
        @import "../plugins/easy-responsive-tabs/easy-responsive-tabs.css";
        @import "../plugins/royalslider/royalslider.css";
        @import "../plugins/royalslider/rs-default.css";
        @import "../plugins/arcticmodal/jquery.arcticmodal.css";
        @import "../plugins/jquery-ui/jquery-ui.min.css";
        @import "../plugins/jquery-ui-rotatable/jquery.ui.rotatable.css";
       /* @import "../plugins/draggable-img/jquery.ui.core.css";
        @import "../plugins/draggable-img/jquery.ui.resizable.css";*/
        @import "../css/style2.css";
        @import "../css/swiper.min.css";
        @import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic);


/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  IMPORT Plugins And Other CSS files END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/




/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  DEFAULT Stylesheets START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/


    article,
    aside,
    audio,
    canvas,
    command,
    datalist,
    details,
    embed,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    keygen,
    meter,
    nav,
    output,
    progress,
    section,
    source,
    video{
        display:block
    }
    mark,
    rp,
    rt,
    ruby,
    summary,
    time{
        display:inline
    }
    span,
    img,
    a{
       display: inline-block; 
    }

    html {width:100%}

    body {
        font-family: 'proxima_nova_rgregular', Arial;
        font-size:12px;
        line-height:inherit;
        color: #000;
        min-width:320px;
        background-color: #85D1FB;
        -webkit-text-size-adjust: none;
        
    }
    img{
        max-width: 100%;
        height: auto;
        display: inline-block;
    }
    *{
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }
    hr{
        border: none;
        border-top: 1px solid #888;
        margin: 0;
    }
    .container{
        margin-left: 116px;
        width: calc(100% - 116px);
        min-height: 800px;
        /*min-width: 1489px;*/
        background: url(../images/content_bg.jpg) 0%  0% no-repeat fixed;
        -webkit-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
    }
    .main{
        min-width: 1200px;
    }

/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  DEFAULT Stylesheets END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/




/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  BASIC classes main START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<  
<================================================*/




        /*=======================>  TOUCH hacks START  <=======================*/


            input,
            textarea,
            button{
                -webkit-appearance: none;
                -webkit-border-radius:0; 
                border-radius:0;
                outline:none;
            }


        /*=======================>  POSITIONS blocks (float:) START  <=======================*/
            

            .f_left {float:left;}
            .f_right {float:right;}
            .f_none {float:none;}


        /*=======================>  POSITIONS text (text-align:) START  <=======================*/


            .al_left{text-align: left;}
            .al_right{text-align:right;}
            .al_center{text-align:center;}
            .al_justify{text-align:justify;}


        /*=======================>  VERTICALLY align boxs (vertical-align:) START  <=======================*/
        

            .val_mid{vertical-align: middle;}
            .val_bot{vertical-align: bottom;}
            .val_top{vertical-align: top;}
        

        /*=======================>  INDENTS Zero !IMPORTANT START  <=======================*/


            .m_t_zero{ margin-top:0 !important;}
            .m_b_zero{ margin-bottom:0 !important;}
            .m_r_zero{ margin-right:0 !important;}
            .m_l_zero{ margin-left:0 !important;}
            .p_t_zero{ padding-top:0 !important;}
            .p_b_zero{ padding-bottom:0 !important;}
            .p_r_zero{ padding-right:0 !important;}
            .p_l_zero{ padding-left:0 !important;}


        /*=======================>  POSITIONS (position:) START  <=======================*/
            

            .p_abs{position: absolute;}
            .p_rel{position: relative;}
            .p_fix{position: fixed;}
            .p_static{position: static;}

            .full_abs{
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                display: block;
            }


        /*=======================>  ZEROING float START  <=======================*/


            .clear {
                clear:both;
                width:100%;
                line-height:0;
                font-size:0;
            }

            .clearfix:after {
              content: "";
              display: block;
              height: 0;
              clear: both;
              visibility: hidden;
            }

            .wrapper {overflow:hidden;}


        /*=======================>  DISPLAYS (dispay:) START  <=======================*/


            .d_block{ display:block;}
            .d_ib{ display:inline-block;}
            .d_none{ display:none;}
            .d_t{ display:table;}
            .d_row{ display:table-row;}
            .d_tc{ display:table-cell;}


        /*=======================>  LINKS And BUTTONS START  <=======================*/


            * a,
            * button{
                cursor: pointer;
                outline:none !important;
            }
            a {
                color: #164180;
                outline:none;
                text-decoration:underline;
                display: inline-block;
            }
            a:hover{
                text-decoration:none;
            }
            button{
                border: none;
                padding: 10px 10px 10px 10px;
                display: inline-block;
                background-color: gray;
                color: #FFF;
                -webkit-border-radius: 0px;
                        border-radius: 0px;
                text-transform: uppercase;
            }
            
            [class*="btn"]{
                padding: 22px 65px 19px;
                font-size: 22px;
                line-height: 1;
                border: 2px solid #fff;
                -webkit-border-radius: 0px;
                        border-radius: 0px;
                color: #fff;
                text-transform: uppercase;
                font-family: 'proxima_nova_rgbold';
                text-decoration: none;
                background-color: transparent;
            }
            .main_button [class*="btn"]{
                padding: 22px 50px 19px;
            }
            .btn_red,
            [class*="btn"]:hover{
                color: #FFF;
                background-color: #CF2126;
                -webkit-box-shadow: 0 4px 0 #951e21;
                        box-shadow: 0 4px 0 #951e21;
                border: 2px solid transparent;
                border-radius: 0 0 2px 2px;
            }
            .btn_red:hover{
                background-color: transparent !important;
                border: 2px solid #fff !important;
                -webkit-box-shadow: 0 0 0;
                        box-shadow: 0 0 0;
            }
            .link{
                color: #005395;
                font-size: 22px;
                line-height: 32px;
                position: relative;
                text-decoration: none;
                text-align: center;
                display: block;
                font-family: 'proxima_nova_rgbold';
            }
                .link:after{
                    content: "";
                    position: absolute;
                    top: 10px;
                    width: 9px;
                    height: 12px;
                    margin-left: 10px;
                    background: url(../images/arrow_blue.png) 0% 0% no-repeat;
                }


        /*======================>>  HOVERS TRANSITION START <<======================*/


                a,
                button{
                    -webkit-transition: all 0.7s ease;
                    -moz-transition: all 0.7s ease;
                    -o-transition: all 0.7s ease;
                    transition: all 0.7s ease;
                }
                a:hover,
                button:hover{
                    -webkit-transition: all 0.1s ease;
                    -moz-transition: all 0.1s ease;
                    -o-transition: all 0.1s ease;
                    transition: all 0.1s ease;
                }


        /*======================>  TITLES START  <======================*/
            

            h1,h2,h3,h4,h5,h6{
                font-weight:normal;
                margin-bottom: 20px;
            }
            
            .title{
                font-size: 74px;
                line-height: 1.1;
                color:#000;
                text-align: center;
                font-family: 'futurademicregular';
            }

            .title1{
                font-size: 46px;
                line-height: 48px;
                margin-bottom: 43px;
            }

            .title2{
                font-size: 36px;
                line-height: 38px;
                margin-bottom: 43px;
            }

            .title3{
                font-size: 28px;
                line-height: 1.2;
                text-align: center;
            }

            .title4{
                font-size: 22px;
                line-height: 1.2;
            }
            .title6{
                font-size: 20px;
            }

            .aside_title{
                font-size: 21px;
                line-height: 1;
                font-family: 'proxima_nova_rgbold';
            }


            .it{font-style:italic;}

            .let{letter-spacing:-1px;}

            .reg {text-transform:uppercase;}

            .td_und{text-decoration: underline;}
            .td_und:hover{text-decoration: none;}

            .td_und_no{text-decoration: none;}
            .td_und_no:hover{text-decoration: underline;}

            .td_no{text-decoration: none !important;}


        /*=======================>  BACKGROUNDS START  <=======================*/


            .bg_none{ background:none !important;}
            .bg_black{background-color: #000;}
            .bg_white{background-color: #fff;}

            .btn_gray{
                background-color: gray;
            }

        /*=======================>  COLORS START  <=======================*/


            .white{ color: #FFF;}
            .black{ color: #000;}

            .blue{color: #005395;}


        /*======================>  GOOGLE FONTS START  <======================*/
        

            .roboto_thn,
            .roboto_lt,
            .roboto_reg,
            .roboto_med,
            .roboto_bd,
            .roboto_ultra_bd{
                font-family: 'Roboto', sans-serif;
            }
            .roboto_thn{font-weight: 100;}
            .roboto_lt{font-weight: 300;}
            .roboto_reg{font-weight: 400;}
            .roboto_med{font-weight: 500;}
            .roboto_bd{font-weight: 700;}
            .roboto_ultra_bd{font-weight: 900;}

            .bold{font-weight: 700;}


        /*======================>  INSTALL FONTS START  <======================*/
        

            /*@font-face {
                font-family: "LatoRegular";
                src: url("../font/Lato/LatoRegular.eot");
                src: url("../font/Lato/LatoRegular.eot?#iefix")format("embedded-opentype"),
                url("../font/Lato/LatoRegular.woff") format("woff"),
                url("../font/Lato/LatoRegular.ttf") format("truetype");
                font-style: normal;
                font-weight: normal;
            }*/


        /*======================>  VISIBILITY START  <======================*/
        

            .visible{
                visibility: visible;
            }
            .invisible{
                visibility: hidden;
            }


        /*======================>  TEXTAFIELD (placeholder animation) START  <======================*/
        
            /*===  input start  ===*/
            input.invalid,
            textarea.invalid,
            .jq-selectbox.invalid .jq-selectbox__select{
                border: 2px solid red;
                
            }
            input::-webkit-input-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                font-family: "LatoLightItalic";
                color: #26292D;
                font-size: 18px;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }
            input::-moz-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                font-family: "LatoLightItalic";
                color: #26292D;
                font-size: 18px;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }
            input:-moz-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                font-family: "LatoLightItalic";
                color: #26292D;
                font-size: 18px;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }
            input:-ms-input-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                font-family: "LatoLightItalic";
                color: #26292D;
                font-size: 18px;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }

            input:focus::-webkit-input-placeholder {
                line-height: 100px; 
                transition: all 0.5s ease;
            }
            input:focus::-moz-placeholder{
                line-height: 100px; 
                transition: all 0.5s ease;
            }
            input:focus:-moz-placeholder{
                line-height: 100px; 
                transition: all 0.5s ease;
            }
            input:focus:-ms-input-placeholder{
                line-height: 100px; 
                transition: all 0.5s ease;
            }
            /*===  input end    ===*/
            
            /*===  textarea start  ===*/
            textarea::-webkit-input-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                font-family: "LatoLightItalic";
                color: #26292D;
                font-size: 18px;
            }
            textarea::-moz-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                font-family: "LatoLightItalic";
                color: #26292D;
                font-size: 18px;
            }
            textarea:-moz-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                font-family: "LatoLightItalic";
                color: #26292D;
                font-size: 18px;
            }
            textarea:-ms-input-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                font-family: "LatoLightItalic";
                color: #26292D;
                font-size: 18px;
            }

            textarea:focus::-webkit-input-placeholder{
                transition: all 0.5s ease;
                -webkit-transform: translateY(-50px);
                -ms-transform: translateY(-50px);
                -o-transform: translateY(-50px);
                transform: translateY(-50px);
            }
            textarea:focus::-moz-placeholder{
                transition: all 0.5s ease;
                -webkit-transform: translateY(-50px);
                -ms-transform: translateY(-50px);
                -o-transform: translateY(-50px);
                transform: translateY(-50px);
            }
            textarea:focus:-moz-placeholder{
                transition: all 0.5s ease;
                -webkit-transform: translateY(-50px);
                -ms-transform: translateY(-50px);
                -o-transform: translateY(-50px);
                transform: translateY(-50px);
            }
            textarea:focus:-ms-input-placeholder{
                transition: all 0.5s ease;
                -webkit-transform: translateY(-50px);
                -ms-transform: translateY(-50px);
                -o-transform: translateY(-50px);
                transform: translateY(-50px);
            }
            /*===  textarea end    ===*/




/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  BASIC classes main END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/




/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  HEADER START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


    header {
        margin-left: 92px;
    }
        .menu{}
            .menu_item{
                float: left;
                margin-right: 50px;
            }
            .menu_item.current{
                position: relative;
            }
                .menu_item.current:before{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 5px;
                    width: 100%;
                    background-color: #164180;
                }
                .menu_link{
                    color: #000;
                    font-size: 16px;
                    line-height: 1.2;
                    padding: 37px 0 20px;
                    text-transform: uppercase;
                    text-decoration: none;
                    font-family: 'futurademicregular';
                    
                }
                    .menu_link:hover{
                        color: #444;
                    }

/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  HEADER END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/




/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  CONTENT START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


    #content {
        /*padding: 50px 0px 100px 0px; */
        /*min-height: 800px;*/
        min-width: 1600px;
    }
        
            .content_wrapper{
                width: 1074px;
                margin: 0 auto;
                padding: 50px 112px 100px;
            }
            .cont_padd_zero{
                padding-left: 0;
                padding-right: 0;
            }


    /*======================>  HOME PAGE START  <======================*/
    
    .aside{
        width: 116px;
        padding: 0;
        background-color: #fff;
        height: 100%;
        background-color: #fff;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
    }
        .aside_item{
            position: relative;
        }
            .aside_item:last-child:after{
                display: none;
            }
            .aside_item:after{
                content: "";
                position: absolute;
                height: 1px;
                width: 53px;
                left: 50%;
                margin-left: -22px;
                background-color: #EFEFEF;
            }
            .aside_link{
                display: block;
                text-align: center;
                text-decoration: none;
                padding: 15px 7px;
            }
            .profile_box{
                padding: 30px 7px;
            }
            .aside_link.active{
                background-color: #CF2126;
            }
                .profile_name{
                    font-size: 16px;
                    color: #392B33;
                }
                    .aside_link_text{
                        color: #164180;
                        font-size: 15px;
                        font-family: 'proxima_nova_rgbold';
                    }
                    .aside_link.active .aside_link_text{
                        color: #FFF;
                    }
                        .aside_link span.aside_title{
                            color: #164180;
                        }
                        .aside_link.active span.aside_title{
                            color: #FFF;
                        }
        /*--------*/
            .col3{
                width: 33%;
            }
            .col2{
                width: 50%;
            }
                .contest_figure_img_box{
                    height: 150px;
                    margin-bottom: 20px;
                }
                    .contest_figure_figcap .title4{
                        line-height: 28px;
                    }

    /*======================>  HOME PAGE END    <======================*/
    


    /*======================>  STEP1 PAGE START    <======================*/
    
    .steps_box{
        width: 660px;
        margin: 0 auto 42px;
    }
        .step_point{
            width: 25px;
            height: 25px;
            position: relative;
            border: 4px solid #76B3D9;
            -webkit-border-radius: 50%;
                    border-radius: 50%;
            background-color: transparent;
        }
        .step_point.active{
            border: 4px solid #005395;
        }
        .step2,
        .step3{
            margin-left: 287px;
        }
            .step2:before,
            .step3:before{
                content: "";
                position: absolute;
                top: 50%;
                height: 1px;
                width: 267px;
                right: 31px;
                background-color: #71B1D8;
            }
            .active.step2:before,
            .active.step3:before{
                content: "";
                background-color: #005395;
            }

        .landscape_box{
            width: 406px;
            height: 263px;
            padding: 25px;
            margin-bottom: 27px;
            background: url(../images/photo_bg.png) 0% 0% no-repeat;
            -webkit-background-size: 100%;
                 -o-background-size: 100%;
                    background-size: 100%;
            position: relative;
            
            -webkit-transition: all 0.7s ease;
            -moz-transition: all 0.7s ease;
            -o-transition: all 0.7s ease;
            transition: all 0.7s ease;
        }
            .landscape_box img{
                width: 100%;
                height: 100%;
            }

            .landscape_box:hover .cover_box{
                visibility: visible;
                opacity: 1;
                -webkit-transition: all 0.7s ease;
                -moz-transition: all 0.7s ease;
                -o-transition: all 0.7s ease;
                transition: all 0.7s ease;
            }
            .cover_box{
                opacity: 0;
                visibility: hidden;
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                /*width: 406px;
                height: 263px;*/
                background: url(../images/photo_bg_hover.png) 0% 0% no-repeat;
            }
                .cover_box span{
                    display: block;
                    line-height: 7.4;
                    font-size: 36px;
                    text-align: center;
                }

    /*======================>  STEP1 PAGE END    <======================*/
    

    /*======================>  STEP3 PAGE START    <======================*/
    
        .rest_big_box{
            width: 1072px;
            padding: 25px;
            height: 676px;
            position: relative;
        }
            .landscape_box img{
                width: 100%;
                height: 100%;
            }
            .comment1,
            .comment2,
            .coctail,
            .boat,
            .lounge{
                position: absolute;
            }
            .comment1{
                left: 251px;
                top: 112px;
            }
            .comment2{
                left: 519px;
                top: 145px;
            }
            .coctail{
                left: 362px;
                top: 275px;
            }
            .boat{
                top: 354px;
                left: 659px;
            }
            .lounge{
                top: 323px;
                left: 50px;
            }
        .rulles_checkbox{
            width: 38px;
            height: 36px;
            cursor: pointer;
            background: url(../images/checkbox.png) 0% 0% no-repeat;
        }
            .rulles_checkbox:checked{
                background-position: 0% 100%;
            }
            .rulles_checkbox + span{
                text-align: center;
                padding-top: 5px;
                line-height: 36px;
            }


    /*======================>  STEP3 PAGE END    <======================*/
    


    /* ----- POPUP rulles ---- */
    .rulles_popup_box{
        width: 962px;
    }
            .rulles_list_item{
                font-size: 36px;
                font-family: 'futurademicregular';
            }
                .rulles_list_item p{
                     margin-bottom: 15px;
                }
                .sub_rull_list{
                    margin-left: 43px;
                }
                    .sub_rull_list_item,
                    .sub_sub_rull_list_item{
                        font-size: 16px;
                        line-height: 22px;
                        margin-bottom: 30px;
                        font-family: 'proxima_nova_rgregular';
                    }

                        .sub_rull_list_item p span,
                        .sub_sub_rull_list_item>span{
                            font-size: 18px;
                            margin-right: 5px;
                            font-family: 'futurademicregular';
                       } 

                        .sub_sub_rull_list{
                            margin-left: 22px;
                        }
                            .sub_sub_rull_list_item{
                                margin-bottom: 30px;
                            }

                .rull_table{}
                        .rull_table_col1{
                            width: 62px;
                            text-align: center;
                        }
                        .rull_table_col2{
                            width: 280px;
                        }
                        .rull_table_col3{
                            width: 136px;
                        }
                        .rull_table_col4{
                            width: 300px;
                        }
                        .rull_table th{
                            height: 83px;
                            font-size: 16px;
                            line-height: 22px;
                            padding-top: 20px;
                            background-color: #E9E9E9;
                            font-family: 'proxima_nova_ltsemibold';
                        }
                        .rull_table td{
                            font-size: 16px;
                            line-height: 22px;
                            padding: 30px 17px 20px 0;
                            background-color: #F2F2F2;
                            font-family: 'proxima_nova_rgregular';
                        }

    
    /* ----- POPUP publish ---- */
        .publish_popup_box{
            width: 645px;
            padding: 87px 45px 45px;
        }
            .publish_title{
                font-size: 36px;
                line-height: 1.6;
                padding-left: 82px;
                font-family: 'futurademicregular';
                background: url(../images/icon/tick_icon.png) 0% 50% no-repeat;
            }
                .btn_popup,
                .publish_popup_box .btn_red:hover{
                    color: #CF2126;
                    border-color: #CF2126 !important;
                }

        

    .swiper-slide span img{
        visibility: hidden;
        display: none;
    }

    .work_img_box_inner span.target.dragg{
        min-width: 60px !important;
        min-height: 60px !important;
    }

    .work_img_box_inner span:hover{
        z-index: 99999 !important;
    }

        .work_img_box_inner span .ui-resizable-handle,
        .work_img_box_inner span .ui-rotatable-handle,
        .work_img_box_inner span .dragg_icon{
            opacity: 0;
            -webkit-transition: all 0.7s ease;
            -moz-transition: all 0.7s ease;
            -o-transition: all 0.7s ease;
            transition: all 0.7s ease;
        }
        .work_img_box_inner span:hover .ui-resizable-handle,
        .work_img_box_inner span:hover .ui-rotatable-handle,
        .work_img_box_inner span:hover .dragg_icon{
            opacity: 1;
            -webkit-transition: all 0.1s ease;
            -moz-transition: all 0.1s ease;
            -o-transition: all 0.1s ease;
            transition: all 0.1s ease;
        }


    .owl_carousel{
        width: 400px;
    }
        .owl_carousel li{
            width: 400px;
            height: auto;
        }
            .owl_carousel li img{
                width: 100%;
                height: auto;
            }

    /* all step page*/

    #collazh_box>div:not(.active){
        /* opacity: 0;
        visibility: hidden; */
    }


/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  CONTENT END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/




/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  FOOTER START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


    .footer_container {
        min-width: 1200px;
        background-color: #005395;
        padding: 26px 125px 26px 175px;
        font-size: 16px;
        color: #FFF;
    }
        .feedback:after{
            content: "";
            position: absolute;
            width: 1px;
            height: 17px;
            margin-left: 15px;
            background-color: #1F68A2;
        }
        

/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  FOOTER END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


#collazh_box{
    position: relative;
    /* overflow: hidden; */
}
#collazh_box > div:not(.active){
    /* position: fixed; */
    position: absolute;
    bottom: 100%;
}


.work_img_box_inner{
    position: relative;
    -webkit-background-size: 970px auto !important;
    background-size: 970px auto !important;
}
.work_img_box_inner::after{
    content: "";
    position: absolute;
    background: url(../images/photo_big_bg2.png) 50% 50% no-repeat;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    display: block;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}