/*font style*/


	@font-face {
	    font-family: 'proxima_nova_rgbold';
	    src: url('../font/proxima_nova_bold-webfont.eot');
	    src: url('../font/proxima_nova_bold-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../font/proxima_nova_bold-webfont.woff2') format('woff2'),
	         url('../font/proxima_nova_bold-webfont.woff') format('woff'),
	         url('../font/proxima_nova_bold-webfont.ttf') format('truetype');
	    font-weight: normal;
	    font-style: normal;

	}

	@font-face {
	    font-family: 'proxima_novaextrabold_italic';
	    src: url('../font/proxima_nova_extrabold_italic-webfont.eot');
	    src: url('../font/proxima_nova_extrabold_italic-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../font/proxima_nova_extrabold_italic-webfont.woff2') format('woff2'),
	         url('../font/proxima_nova_extrabold_italic-webfont.woff') format('woff'),
	         url('../font/proxima_nova_extrabold_italic-webfont.ttf') format('truetype');
	    font-weight: normal;
	    font-style: normal;

	}




	@font-face {
	    font-family: 'proxima_nova_thextrabold';
	    src: url('../font/proxima_nova_extrabold-webfont.eot');
	    src: url('../font/proxima_nova_extrabold-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../font/proxima_nova_extrabold-webfont.woff2') format('woff2'),
	         url('../font/proxima_nova_extrabold-webfont.woff') format('woff'),
	         url('../font/proxima_nova_extrabold-webfont.ttf') format('truetype');
	    font-weight: normal;
	    font-style: normal;

	}




	@font-face {
	    font-family: 'proxima_novalight_italic';
	    src: url('../font/proxima_nova_light_italic-webfont.eot');
	    src: url('../font/proxima_nova_light_italic-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../font/proxima_nova_light_italic-webfont.woff2') format('woff2'),
	         url('../font/proxima_nova_light_italic-webfont.woff') format('woff'),
	         url('../font/proxima_nova_light_italic-webfont.ttf') format('truetype');
	    font-weight: normal;
	    font-style: normal;

	}




	@font-face {
	    font-family: 'proxima_nova_ltlight';
	    src: url('../font/proxima_nova_light-webfont.eot');
	    src: url('../font/proxima_nova_light-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../font/proxima_nova_light-webfont.woff2') format('woff2'),
	         url('../font/proxima_nova_light-webfont.woff') format('woff'),
	         url('../font/proxima_nova_light-webfont.ttf') format('truetype');
	    font-weight: normal;
	    font-style: normal;

	}




	@font-face {
	    font-family: 'proxima_novaregular_italic';
	    src: url('../font/proxima_nova_regular_italic-webfont.eot');
	    src: url('../font/proxima_nova_regular_italic-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../font/proxima_nova_regular_italic-webfont.woff2') format('woff2'),
	         url('../font/proxima_nova_regular_italic-webfont.woff') format('woff'),
	         url('../font/proxima_nova_regular_italic-webfont.ttf') format('truetype');
	    font-weight: normal;
	    font-style: normal;

	}




	@font-face {
	    font-family: 'proxima_nova_rgregular';
	    src: url('../font/proxima_nova_regular-webfont.eot');
	    src: url('../font/proxima_nova_regular-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../font/proxima_nova_regular-webfont.woff2') format('woff2'),
	         url('../font/proxima_nova_regular-webfont.woff') format('woff'),
	         url('../font/proxima_nova_regular-webfont.ttf') format('truetype');
	    font-weight: normal;
	    font-style: normal;

	}




	@font-face {
	    font-family: 'proxima_novasemibold_italic';
	    src: url('../font/proxima_nova_semibold_italic-webfont.eot');
	    src: url('../font/proxima_nova_semibold_italic-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../font/proxima_nova_semibold_italic-webfont.woff2') format('woff2'),
	         url('../font/proxima_nova_semibold_italic-webfont.woff') format('woff'),
	         url('../font/proxima_nova_semibold_italic-webfont.ttf') format('truetype');
	    font-weight: normal;
	    font-style: normal;

	}




	@font-face {
	    font-family: 'proxima_nova_ltsemibold';
	    src: url('../font/proxima_nova_semibold-webfont.eot');
	    src: url('../font/proxima_nova_semibold-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../font/proxima_nova_semibold-webfont.woff2') format('woff2'),
	         url('../font/proxima_nova_semibold-webfont.woff') format('woff'),
	         url('../font/proxima_nova_semibold-webfont.ttf') format('truetype');
	    font-weight: normal;
	    font-style: normal;

	}




	@font-face {
	    font-family: 'proxima_novathin_italic';
	    src: url('../font/proxima_nova_thin_italic-webfont.eot');
	    src: url('../font/proxima_nova_thin_italic-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../font/proxima_nova_thin_italic-webfont.woff2') format('woff2'),
	         url('../font/proxima_nova_thin_italic-webfont.woff') format('woff'),
	         url('../font/proxima_nova_thin_italic-webfont.ttf') format('truetype');
	    font-weight: normal;
	    font-style: normal;

	}




	@font-face {
	    font-family: 'proxima_nova_ththin';
	    src: url('../font/proxima_nova_thin-webfont.eot');
	    src: url('../font/proxima_nova_thin-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../font/proxima_nova_thin-webfont.woff2') format('woff2'),
	         url('../font/proxima_nova_thin-webfont.woff') format('woff'),
	         url('../font/proxima_nova_thin-webfont.ttf') format('truetype');
	    font-weight: normal;
	    font-style: normal;

	}




	@font-face {
	    font-family: 'proxima_novablack_italic';
	    src: url('../font/proxima_nova_black_italic-webfont.eot');
	    src: url('../font/proxima_nova_black_italic-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../font/proxima_nova_black_italic-webfont.woff2') format('woff2'),
	         url('../font/proxima_nova_black_italic-webfont.woff') format('woff'),
	         url('../font/proxima_nova_black_italic-webfont.ttf') format('truetype');
	    font-weight: normal;
	    font-style: normal;

	}




	@font-face {
	    font-family: 'proxima_nova_blblack';
	    src: url('../font/proxima_nova_black-webfont.eot');
	    src: url('../font/proxima_nova_black-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../font/proxima_nova_black-webfont.woff2') format('woff2'),
	         url('../font/proxima_nova_black-webfont.woff') format('woff'),
	         url('../font/proxima_nova_black-webfont.ttf') format('truetype');
	    font-weight: normal;
	    font-style: normal;

	}


	/*futura*/


	@font-face {
	    font-family: 'futurademicregular';
	    src: url('../font/futurademic-webfont.eot');
	    src: url('../font/futurademic-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../font/futurademic-webfont.woff2') format('woff2'),
	         url('../font/futurademic-webfont.woff') format('woff'),
	         url('../font/futurademic-webfont.ttf') format('truetype');
	    font-weight: normal;
	    font-style: normal;

	}


	@font-face {
		font-family: 'Conv_Futura New Book';
		src: url('../font/Futura New Book.eot');
		src: local('☺'), url('../font/Futura New Book.woff') format('woff'), url('../font/Futura New Book.ttf') format('truetype'), url('../font/Futura New Book.svg') format('svg');
		font-weight: normal;
		font-style: normal;
	}


/*end font style*/

	.prox_bd{
	    font-family: 'proxima_nova_rgbold';
	}
	.prox_bd_it{
	    font-family: 'proxima_novaextrabold_italic';
	}
	.prox_bd_extra{
	    font-family: 'proxima_nova_thextrabold';
	}
	.prox_light_it{
	    font-family: 'proxima_novalight_italic';
	}
	.prox_light{
	    font-family: 'proxima_nova_ltlight';
	}
	.prox_reg_it{
	    font-family: 'proxima_novaregular_italic';	
	}
	.prox_reg{
	    font-family: 'proxima_nova_rgregular';	
	}
	.prox_sem_bd_it{
	    font-family: 'proxima_novasemibold_italic';

	}
	.prox_sem_bd{
	    font-family: 'proxima_nova_ltsemibold';
	}
	.prox_thin_it{
	    font-family: 'proxima_novathin_italic';
	}
	.prox_thin{
	    font-family: 'proxima_nova_ththin';
	}
	.prox_black_it{
	    font-family: 'proxima_novablack_italic';
	}
	.prox_black{
	    font-family: 'proxima_nova_blblack';
	}
	.futur_reg{
	    font-family: 'futurademicregular';
	}
	.futur_new_book{
		font-family: 'Conv_Futura New Book';  
	}


/*works_gallery start*/

	.works_gallery_conteiner{
		width: 858px;
		margin-left: auto;
		margin-right: auto;
        padding: 50px 0 100px;
	}

		.link_back{
			position: relative;
			color: #005395;
			font-size: 22px;
			font-weight: 700;
			line-height: 1.2;
		}
			.link_back:before{
				content: "";
				position: absolute;
				background: url(../images/back_arrow.png) 0 0 no-repeat;
				width: 9px;
				height: 12px;
				left: -24px;
				top: 50%;
				-webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                transform: translateY(-50%);
			}

			.link_back:hover{
				color: #005395;
			}

		.filter_list{
			text-align: center;
		}
			.filter_list_item{
				display: inline-block;
				position: relative;
			}	
				.filter_list_item a{
					font-size: 22px;
					font-weight: 700;
					line-height: 24px;
					color: #164180;
					text-decoration: none;
					padding: 15px 22px 14px; 
				}
				.filter_list_item.current a,
				.filter_list_item:hover a{
					background: #164180;
					color: #fff;
				}
				.filter_list_item.current:before{
					content: "";
					position: absolute;
					background: url(../images/filter_before.png) 0 100% no-repeat;
					width: 13px;
					height: 6px;
					bottom: -6px;
					left: 50%;
					-webkit-transform: translateX(-50%);
	                -ms-transform: translateX(-50%);
	                -o-transform: translateX(-50%);
	                transform: translateX(-50%);
				}
		
		.work_list{
			margin: 0 -18px 86px;
		}
			.work_list_item{
				width: 29.3%;
				float: left;
				margin: 0 18px 30px;
			}
				.work_list_item_img{
					overflow: hidden;
					position: relative;
					z-index: 1;
					width: 100%;
					height: 171px;
					border: 2px solid rgba(255, 255, 255, .6);
					padding: 13px 14px 14px;
					-webkit-transition: all 0.7s ease;
	                -moz-transition: all 0.7s ease;
	                -o-transition: all 0.7s ease;
	                transition: all 0.7s ease;
				}		
					.work_list_item_img img{
						-webkit-transition: all 0.7s ease;
		                -moz-transition: all 0.7s ease;
		                -o-transition: all 0.7s ease;
		                transition: all 0.7s ease;
					}
					.work_list_item_img:hover img{
						opacity: 0;
						-webkit-transition: all 0.1s ease;
	                    -moz-transition: all 0.1s ease;
	                    -o-transition: all 0.1s ease;
	                    transition: all 0.1s ease;
					}
					.work_list_item_img:hover{
						background: #164180;
						border-color: #164180;
						-webkit-transition: all 0.1s ease;
	                    -moz-transition: all 0.1s ease;
	                    -o-transition: all 0.1s ease;
	                    transition: all 0.1s ease;
					}

					.work_list_item_img:hover .work_list_link.white{
						left: 50%;
						-webkit-transform: translateX(-50%);
		                -ms-transform: translateX(-50%);
		                -o-transform: translateX(-50%);
		                transform: translateX(-50%);
					}

					.work_list_item_img:hover .work_list_link.red{
						right: 50%;
						-webkit-transform: translateX(50%);
		                -ms-transform: translateX(50%);
		                -o-transform: translateX(50%);
		                transform: translateX(50%);
					}

					.work_list_link{
						position: absolute;
						font-size: 14px;
						font-weight: 700;
						line-height: 12px;
						text-transform: uppercase;
						color: #fff;
						padding: 8px 22px 9px;
						z-index: 99;
						text-decoration: none;
						border: 2px solid #fff;
					}

					.work_list_link.white{
						top: 45px;
						left: -150px;
					}
					.work_list_link.white:hover{
						background: #cf2126;
						border-color: #cf2126;
						color: #fff;
					}

					.work_list_link.red{
						right: 0;
						bottom: 44px;
						right: -150px;
						background: #cf2126;
						border-color: #cf2126;
					}
					.work_list_link.red:hover{
						border-color: #fff;
						color: #fff;
						background: none;
					}
		
		.work_list_item .title4{
			font-size: 22px;
			font-weight: 700;
			line-height: 34px;
			color: #010101;
			margin-bottom: 14px;
		}

		.work_list_like{
			position: relative;
			font-size: 16px;
			font-weight: 700;
			color: #000;
			text-decoration: none;
			padding-left: 32px;
		}		
			.work_list_like:hover{
				color: #000;
			}

			.work_list_like:hover:before{
				background: url(../images/star_img_hover.png) 0 0 no-repeat;
			}

			.work_list_like:before{
				content: "";
				display: block;
				position: absolute;
				background: url(../images/star_img.png) 0 0 no-repeat;
				width: 24px;
				height: 24px;
				left: 0;
				top: -4px;
			}

		.up_button{
			position: relative;
			color: #164180;
			font-size: 22px;
			font-weight: 700;
			line-height: 33px;
			text-decoration: none;
			padding-left: 58px;
		}	
			.up_button:hover{
				color: #cf2126;
			}

			.up_button:hover:before{
				background-color: #cf2126;
				-webkit-transition: all 0.1s ease;
                -moz-transition: all 0.1s ease;
                -o-transition: all 0.1s ease;
                transition: all 0.1s ease;
			}

			.up_button:before{
				content: "";
				position: absolute;
				background: #164180 url(../images/up_arrow.png) 50% 50% no-repeat;
				width: 40px;
				height: 40px;
				border-radius: 30px;
				left: 0;
				top: 50%;
				-webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                transform: translateY(-50%);

                -webkit-transition: all 0.7s ease;
                -moz-transition: all 0.7s ease;
                -o-transition: all 0.7s ease;
                transition: all 0.7s ease;
			}

/*works_gallery end*/

/*step2 stert*/

	.work_img_box_bg{
		position: absolute !important;
		top: 25px;
		left: 25px;
		z-index: 1 !important;
	}

		.target{
			display: inline-block;
		}
			.target img{
				width: 100%;
				height: auto;
			}

		.work_img_box_inner{
			background: url(../images/landscape1_big.png) 50% 50% no-repeat;
			width: 100%;
			height: 100%;
			position: relative;
		}

			.work_img_box_inner .target.dragg{
				position: absolute;
				left: 150px;
				top: 150px;
				z-index: 999;
			}

		.work_img_box{
			overflow: hidden;
		}

		.work_img_box img{
			position: relative;
			z-index: 99;
		}

	.target .ui-rotatable-handle{
		cursor: pointer;
		position: absolute;
		width: 48px;
		height: 48px;
		right: 10px;
		left: 115%;
		bottom: 96px;
		background: #9c2a2e url(../images/rotate_img.png) 50% 50% no-repeat;
	}

	.target .ui-resizable-se{
		overflow: inherit !important;
		position: absolute;
		width: 48px;
		height: 48px;
		background: #9c2a2e url(../images/resiza_img.png) 50% 50% no-repeat;
		bottom: 0;
		right: inherit;
		left: 115%;
	}

	.work_img_box_inner .target.dragg .dragg_icon{
		cursor: pointer;
		content: "";
		position: absolute;
		width: 48px;
		height: 48px;
		background: #9c2a2e url(../images/dragg_img.png) 50% 50% no-repeat;
		bottom: 48px;
		left: 115%;
	}
		.target .ui-rotatable-handle:hover,
		.target .ui-resizable-se:hover,
		.work_img_box_inner .target.dragg .dragg_icon:hover{
			background-color: #cf2126;
		}
		.target .ui-rotatable-handle:hover:after,
		.target .ui-resizable-se:hover:before,
		.work_img_box_inner .target.dragg .dragg_icon:hover:after{
			content: "";
			background: url(../images/functions_bg_hover.png) 0 0 no-repeat;
			width: 7px;
			height: 14px;
			position: absolute;
			top: 50%;
			-webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            left: -7px;
		}
	
	
	.slider_step2{
		position: relative;
	}

	.slider_step2 .swiper-container{
		height: 200px;
		width: 900px;
	}
	.slider_step2 .swiper-container .swiper-slide{
		width: 87px;
		/* height: 133px;
		line-height: 133px; */
		height: 180px;
		line-height: 180px;
		vertical-align: middle;
		text-align: center;
		background: url(../images/bg_slider_item.png) 50% 50% no-repeat;
	}
		.slider_step2 .swiper-container .swiper-slide img{
			vertical-align: middle;
			width: 100px;
			max-height: 100%;
		}	

		.slider_step2 .swiper-button-prev, 
		.slider_step2 .swiper-button-next{
			background: url(../images/slider_arrow.png) 0 0 no-repeat;
		}
		.slider_step2 .swiper-button-prev, 
		.slider_step2 .swiper-container-rtl .swiper-button-next{
			transform: rotate(180deg);
		}
		.slider_step2 .swiper-button-next, 
		.slider_step2 .swiper-button-prev{
			width: 46px;
			height: 46px;
			position: absolute;
			top: 67px;
		}

		.slider_step2 .swiper-container-horizontal>.swiper-scrollbar{
			bottom: 0;
		}
		.slider_step2 .swiper-container-horizontal>.swiper-scrollbar{
			border-radius: 0;
			height: 1px;
			background: rgba(255, 255, 255, .3);
		}
		.slider_step2 .swiper-container-horizontal>.swiper-scrollbar .swiper-scrollbar-drag{
			height: 8px;
			border-radius: 0;
			background-color: #fff;
			top: -7px;
		}
	
/*step2 end*/
/*popup work*/
	
	.arcticmodal_container_box.work_popup{
		padding: 25px 25px 25px 165px; 
		background: url(../images/bg_work_popup.png) 0 0 no-repeat;
		-webkit-background-size: 100% 100%;
		background-size: 100% 100%;
		width: 1205px;
	}
	.work_popup .arcticmodal-close{
		background: url(../images/work_close_popup.png) 0 0 no-repeat ;
		width: 74px;
		height: 74px;
		right: 69px;
		top: -28px;
		z-index: 999;
	}
	.work_popup .work_content{
		width: 1007px;
		position: relative;
	}
		.work_content_ab_img{
			position: absolute;
			right: -190px;
			bottom: 296px;
		}
		.work_popup .title_box{
			background: url(../images/title_bg.png) 0 0 no-repeat;
			-webkit-background-size: 100% auto;
			background-size: 100% auto;
			position: absolute;
			right: 0;
			bottom: -50px;
			color: #fff;
			font-size: 19px;
			font-weight: 700;
			line-height: 22px;
			padding: 38px 90px 38px 54px; 
			text-transform: uppercase;
		}
		.work_popup .title_box .work_list_like{
			margin-left: 34px;	
			background: url(../images/title_like_bg.png) 0 0 no-repeat;
			padding: 10px 20px 11px 37px;
			color: #cf2126;
			margin-top: -12px;
			font-size: 23px;
			font-weight: 700;
			line-height: 26px;
		}
			.work_popup .title_box .work_list_like:before{
				width: 23px;
				height: 23px;
				background: url(../images/title_star.png) 0 0 no-repeat;
				top: 11px;
				left: 10px;
			}

/*popup work end*/